{% extends 'templateBase.html' %}
{% load static %}
{% block title %}
Catalogo
{% endblock %}
{% block css %}
<link href="{% static 'css/catalogo.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

 {% for producto in datos %}
        <div>
            <h2>{{ producto.nombre }}</h2>
            <p>Precio: {{ producto.precio }}</p>
            <p>Descripción: {{ producto.descripcion }}</p>
        </div>
    {% empty %}
        <p>No hay productos disponibles.</p>
    {% endfor %}

{% endblock %}
{% block js %}
<script src="{% static 'js/catalogo.js' %}"></script>
{% endblock %}