{% extends 'templateBase.html' %}
{% load static %}
{% block title %}redirect{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'redirect.css' %}">
{% endblock css %}

{% block content %}
<body>
    <form id="webpay-form" action="{{ url }}" method="POST">
        <input type="hidden" name="token_ws" value="{{ token }}">
        <noscript>
            <button type="submit">Ir a Webpay</button>
        </noscript>
    </form>
    <script>
        document.getElementById('webpay-form').submit();
    </script>
</body>
</html>

{% endblock content %}
{% block js %}
    <script src="{% static 'js/redirect.js' %}"></script>
{% endblock js %}